<section class="resto-container">
    <h3 id="resto-msg">Welcome To</h3>
    <h3 class="resto-name">{{resto.resto_name}}</h3>
    <img src="{{resto.resto_img}}" id="restoImg">
    <section class="dish-container">
        {{!-- <button id="dish-btn" value="{{resto.id}}">VIEW DISHES</button> --}}
        {{#each dishes}}
            <h4 id="dish-name" value="{{dish_name}}">{{dish_name}}</h4>
            <img src="{{dish_img}}" />
            <p id="dish-price" value="{{dish_price}}">{{dish_price}}</p>
            <button class="add-button">Add to Cart</button>
        {{/each}}
    </section>

    <script src="../public/js/cart.js"></script> 
</section>